<h2>{{t "t.hello"}} {{> user-name }},</h2>
<p>{{t "confirmation.thankYouForApplying"}} <a href="{{listingUrl}}">{{listing.name}}</a></p>
<p>{{t "confirmation.yourConfirmationNumber"}} {{application.confirmationCode}}</p>
<p>{{t "confirmation.whatToExpectNext"}}<br/>{{whatToExpectText}}</p>
<p>{{t "confirmation.shouldBeChosen"}}</p>
{{> leasing-agent }}
{{> simple-footer }}
