{{#> layout_default }}
    <h1>
        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 24px">
            {{t "csvExport.title" appOptions }}
        </span>
    </h1>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="left">
            <p>
                {{t "csvExport.hello" appOptions}}                
            </p>
            <p>
                {{t "csvExport.body" appOptions}}               
            </p>
            </td>
        </tr>
        <tr>
            <td align="left">
            <p>
                {{t "footer.thankYou" }},               
            </p>
            <p>
                {{t "header.logoTitle" }}               
            </p>
            </td>
        </tr>
        </tbody>
    </table>
{{/layout_default }}
