<h2>{{t "t.hello"}} {{> user-name }},</h2>
<p>
  {{t "forgotPassword.resetRequest" resetOptions}}
</p>
<p>
  {{t "forgotPassword.ignoreRequest"}}
</p>
<p>
  {{t "forgotPassword.callToAction"}}
  <a href="{{resetUrl}}">{{t "forgotPassword.changePassword"}}</a>
</p>
<p>
  {{t "forgotPassword.passwordInfo"}}
</p>
{{> simple-footer }}
