<h1>{{t "t.hello"}} {{> user-name }}</h1>
<p>
    {{t "invite.inviteMessage" appOptions}}
</p>
<p>
    {{t "invite.toCompleteAccountCreation"}}
</p>
<p>
    <a href="{{confirmationUrl}}">{{t "invite.confirmMyAccount"}}</a>
</p>
{{> footer }}
