{{#> layout_default }}
  <h1><span class="intro">{{t "confirmation.gotYourConfirmationNumber"}}</span> <br />{{listing.name}}</h1>

  <table class="inset" role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <div class="inset">

            <div class="align-center mb2">
              <h2 class="mb0 mt1">{{t "confirmation.yourConfirmationNumber"}}</h2>
              <p class="number">{{application.confirmationCode}}</p>
            </div>

            <table class="steps mb1" role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td class="step step-complete"><img src="https://res.cloudinary.com/exygy/image/upload/v1652459517/core/step-left-active_vo3fnq.png" alt="indication of step completed" /></td>
                  <td class="step"><img src="https://res.cloudinary.com/exygy/image/upload/v1652459480/core/step-center-default_yi3vfr.png" alt="indication of step not completed" /></span></td>
                  <td class="step"><img src="https://res.cloudinary.com/exygy/image/upload/v1652459651/core/step-right-default_agtwd7.png" alt="indication of step not completed" /></span></td>
                </tr>
                <tr>
                  <td class="step step-complete"><span class="step-label" aria-current="true">{{{t "confirmation.applicationReceived"}}}</span></td>
                  <td class="step"><span class="step-label">{{{t "confirmation.applicationsClosed"}}}</span></td>
                  <td class="step"><span class="step-label">{{{t "confirmation.applicationsRanked"}}}</span></td>
                </tr>
              </tbody>
            </table>

            <h2 class="mt3">{{t "confirmation.whatHappensNext"}}</h2>
            <ul>
            <li>{{eligibleText}}</li>
            <li>{{preferenceText}}</li>
            <li>{{interviewText}}</li>
            {{#if duplicateText}}
              <li>{{duplicateText}} <a href="{{ termsUrl }}" target="_blank">{{t "lotteryAvailable.termsOfUse"}}</a>.</li>
            {{/if}}
            {{#if contactText}}
              <li>{{contactText}}</li>
            {{/if}}
            </ul>

            {{#if nextStepsUrl}}
              <h2>{{t "confirmation.prepareForNextSteps"}}</h2>
              <p>{{t "confirmation.whileYouWait"}}</p>

              <p>
                <a
                  class="link"
                  href="{{nextStepsUrl}}"
                  target="_blank"
                  >{{t "confirmation.readHowYouCanPrepare"}}
                </a>
              </p>
            {{/if}}

            <h2>{{t "confirmation.needToMakeUpdates"}}</h2>
            {{#if duplicateText}}
            <ul>
              <li>{{t "confirmation.submitAnotherApplication"}}</li>
              <li>{{t "confirmation.otherChanges"}}</li>
            </ul>
            {{else}}
            <p>{{t "leasingAgent.contactAgentToUpdateInfo"}}</p>
            <h3>{{t "leasingAgent.propertyManager"}}</h3>
            <p>
              {{listing.leasingAgentName}}<br />
              {{listing.leasingAgentTitle}}<br />
              {{listing.leasingAgentPhone}}<br />
              {{listing.leasingAgentEmail}}<br />
            </p>
            {{/if}}
            {{#if listing.leasingAgentOfficeHours}}
              <h3>{{t "leasingAgent.officeHours"}}</h3>
              <p>{{listing.leasingAgentOfficeHours}}</p>
            {{/if}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td align="center">
          <a
            class="btn btn-primary"
            href="{{listingUrl}}"
            target="_blank"
            style="color:white"
            >{{t "t.seeListing"}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
{{/layout_default }}
