{{#> layout_default }}
    <h1>
        {{ t "requestApproval.header"}}
    </h1>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="left">
            <p>
                {{t "t.hello"}},
                <br/><br/>
                {{t "requestApproval.partnerRequest" appOptions}}
                <br/><br/>
                {{t "requestApproval.logInToReviewStart"}} <a href="{{ appUrl }}">{{t "t.partnersPortal"}}</a> {{t "requestApproval.logInToReviewEnd"}}
                <br/><br/>
                <strong>{{t "requestApproval.accessListing"}}</strong>
                <br/><br/>
            </p>
            </td>
        </tr>
        </tbody>
    </table>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center">
            <a
                class="btn btn-primary"
                href="{{ listingUrl }}"
                target="_blank"
                style="color:white"
                >
                  {{t "t.reviewListing"}}
                </a
            >
            </td>
        </tr>
        </tbody>
    </table>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="left">
            <p>
                {{t "footer.thankYou"}},
                <br/><br/>
                {{t "header.logoTitle"}}
            </p>
            </td>
        </tr>
        </tbody>
    </table>


{{/layout_default }}
