<h1>{{t "t.hello"}} {{> user-name }}</h1>
<p>
  {{t "scriptRunner.information"}}
</p>

<p>
  {{t "scriptRunner.yourApplicationNumber" application}}
</p>

<p>
  {{t "scriptRunner.yourConfirmationNumber" application}}
</p>

<p>
  {{t "scriptRunner.pleaseSave"}}
</p>

{{> simple-footer }}
