<h1>{{t "t.hello"}} {{> user-name }},</h1>
<p>
    {{t "changeEmail.message" appOptions}}
</p>
<p>
    {{t "changeEmail.onChangeEmailMessage"}}
</p>
<p>
    <a href="{{confirmationUrl}}">{{t "changeEmail.changeMyEmail"}}</a>
</p>
{{> simple-footer }}
