<p>
  {{t "leasingAgent.contactAgentToUpdateInfo"}}
</p>
<p>
  {{listing.leasingAgentName}}<br />
  {{listing.leasingAgentTitle}}<br />
  {{listing.leasingAgentPhone}}<br />
  {{listing.leasingAgentEmail}}<br />
</p>

<h4>{{t "leasingAgent.officeHours"}}</h4>
<p>{{listing.leasingAgentOfficeHours}}</p>